body {
    margin: 0;
    background-color: white;
}

::-webkit-scrollbar {
    width: 11px;  /* 스크롤바의 너비 */
    height: 15px;
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #E96479; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

@font-face {
    font-family: 'nanumgothic';
    src: url('./assets/fonts/NanumGothic-Regular.ttf');
}